body{
    background-color:#bb9457;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.main{
background-color:#432818;
color: white;
padding: 10px;
}
.two{
    color: #432818;
}
.three{
background-color: #432818;
color: #ffe6a7;
}
.four{
    background-color: #432818;
    color: #ffe6a7;
}
.five{
    background-color: #ffe6a7;
    color: #432818;
}
.six{
    background-color: #432818;
    color: #bb9457;
}
.seven{
    color: #ffe6a7;
}